<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styles.css">
    <link rel="shortcut icon" type="x-icon" href="image/EEB.png">
    <title>EEB</title>
</head>
<body>

    <section id="nav-bar" class="wrapper">
        <div id="logo">
        <img class="sm hovl" src="image/EEB.png">
        </div>
        <div id="icon">
        <a class="hovl" href="/"><img class="sm hovl" src="image/home.png"><p class="hidden">Home</p></a>
        <a class="hovl" href="/about"><img class="sm hovl" src="image/about.png"><p class="hidden">About</p></a>
        <a class="hovl" href="/post"><img class="sm hovl " src="image/post.png"><p class="hidden">Post</p></a>
        </div>
    </section>
    