<%- include("partials/header.ejs") %>

<section id="home" class="border">
    <h1 class="titlee gap">About Embarrassing Experience Blog</h1>
    <p class="abp">Welcome to the Embarrassing Experience Blog, a space where you can anonymously share your most cringe-worthy, awkward, or downright embarrassing moments. Whether it’s a funny mishap, an awkward encounter, or a moment you wish you could erase from memory, this blog is here for you to let it all out and have a laugh.</p>
    <p class="abp">We believe that everyone has those moments where things didn’t go exactly as planned, and sometimes, sharing them can be the best way to get over them—or at least get a good laugh out of them! Here, you’re free to share your stories without judgment, and you can even read about others’ experiences to remind yourself that you’re not alone.</p>
    <p class="abp">This website was created by <a href="https://royceandrew.github.io/" target="_blank">Royce Andrew</a>, who knows firsthand the power of laughter and the importance of not taking life too seriously. With this blog, Andrew aims to create a community where we can all embrace our most embarrassing moments, learn to laugh at ourselves, and find comfort in the fact that we’re all human.</p>
    <p class="abp">So, what are you waiting for? Share your story and let’s turn those blush-worthy moments into something we can all enjoy!</p>
    <img class="gif" src="image/980x.gif">
</section>

<%- include("partials/footer.ejs") %>