<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styles.css">
    <title>EEB</title>
</head>
<body>
    <section id="nav-bar">
        <div id="logo">
        <img class="sm hovl" src="image/EEB.png">
        </div>
        <div id="icon">
        <a class="hovl" href=""><img class="sm hovl" src="image/home.png"><p>Home</p></a>
        <a class="hovl" href=""><img class="sm hovl" src="image/about.png"><p>About</p></a>
        <a class="hovl post" href=""><img class="sm hovl " src="image/post.png"><p>Post</p></a>
        </div>
    </section>
</body>
</html>