<%- include("partials/header.ejs")  %> 

    <section id="home">
        <form class="gap" id="form" method="post">
            <label for="conten"><h2>Edit:</h2></label>
            <textarea maxlength="750" name="exp" id="conten" class="fuw" required><%= expe %></textarea>
            <input type="submit" class="submit">
        </form>
    </section>

