<%- include("partials/header.ejs") %>

<section id="home" class="border">
    <form method="post" id="form" class="gap" action="">
        <label for="conten"><h2>Content:</h2></label>
        
        <textarea class="fuw" id="conten" name="alex" maxlength="750" placeholder="I accidently step on the dog shit" required></textarea>
        <input type="submit" class="submit">
    </form>
</section>

<%- include("partials/footer.ejs") %>